# LS 180 Database foundations

- `psql` is a PostgreSQL interactive console, or a terminal-based front-end to PostgreSQL. It allows you to write queries in SQL syntax, issue those queries to a PostgreSQL database, and see the results of those queries in the terminal window. In that sense the psql console is essentially a REPL.
- There are two different types of commands you can issue from the psql console prompt:
  - psql console meta-commands
    - The syntax for a psql console meta-command is a backslash \ followed by the command and any optional argument.
    - `\conninfo` shows connection information
    - `\q` quits psql console.
- Unlike most of the programming languages you may have worked with, SQL is predominantly a declarative language. This means that it describes what needs to be done, but does not detail how to accomplish this objective    
- SQL is really three languages in one, containing smaller sub-languages for data definition, data manipulation, and data control. 
    - DDL (Data definition language): The data definition parts of SQL are what allow a user to create and modify the schema stored within a database. It includes CREATE TABLE, ALTER TABLE, ADD COLUMN, and several other statements for creating or modifying the structure of or rules that govern the data that is held within a database.
    - DML (Data manipulation langugae): This part of the SQL language is what allows a user to retrieve or modify the data stored within a database. Some databases consider the retrieval and manipulation as two separate languages themselves, but PostgreSQL's documentation combines them and accordingly, we will as well. SELECT, INSERT, UPDATE, DELETE
    - DCL (Data control language): is tasked with controlling the rights and access roles of the users interacting with a database or table. GRANT
- SQL code is made up of statements. A SQL statement is terminated by a semicolon.
- Expressions in SQL can make use of operators and functions.
- SQL Style guide: https://www.sqlstyle.guide/
- Relational databases are called relational because they persist data in a set of relations
    - A relation is usually another way to say "table".
    - A relationship is an association between the data stored in those relations.

## Basics

### Create database
- From the terminal: `createdb db_name`
- From psql: `CREATE DATABASE db_name`

### Connecting to a Database
- From the terminal: `psql -d database_name`
- From within the psql REPL: `\c database_name`

### Delete the Database
- From the terminal: `dropdb database_name`
- From within the psql REPL: `DROP DATABASE another_database;`

### Create table
- Create table with no columns: `CREATE TABLE some_table();`
- Create a table with columns: 

```
CREATE TABLE table_name (
  column_1_name column_1_data_type [constraints, ...],
  column_2_name column_2_data_type [constraints, ...],
);
```
- Column names and data types are a required part of each column definition; constraints are optional.

### Viewing tables
- See list of all tables: `\dt`
- See details about specific table: `\d table_name`

### Create db dump
- To create a db dump that describes the schema and contains the data:
`pg_dump -d db_name -t table_name --inserts > dump.sql`

## `SELECT` basics
Assuming we have a DB called `ls_burger` with one table called `order` that contains the following colums: 
id |  customer_name  |         burger          |    side     |      drink
and 5 rows.
### Selecting columns
- To retrieve all colums (and all rows) from `order`: `SELECT * FROM orders;`
- To retrieve just one colums: `SELECT side FROM orders;`
- To retrieve multiple colums: `SELECT drink, side FROM orders;`
### Selecting rows
- To select specific rows we need to filter all of the rows according to some set criteria.
- To retrieve all columns for the rows where id = 1:` SELECT * FROM orders WHERE id = 1;`
- To retrieve one column for the rows where side = 'Fries': `SELECT customer_name FROM orders WHERE side = 'Fries';`

### Select with order
- SQL allows returning sorted data by adding the `ORDER BY column_name` clause to a query.
- Example: `SELECT full_name, enabled FROM users ORDER BY enabled;`
- Example descending: `SELECT full_name, enabled FROM users  ORDER BY DESC enabled;`
- Example with two order criterias: `SELECT full_name, enabled FROM users ORDER BY enabled DESC, id DESC;`

### Limit
- Limits the number of returned rows.
- Example: `SELECT * FROM users LIMIT 1;` (outputs first row)

### Offset
- Skips rows:
- Example: `SELECT * FROM users LIMIT 1 OFFSET 1;` (outputs second row)

### Distinct
- We can use DISTINCT as part of our SELECT query to only return distinct, or unique, values. 
- Example: `SELECT DISTINCT full_name FROM users;`

## Data Types
- A data type classifies particular values that are allowed for that column.
- serial: This data type is used to create identifier columns for a PostgreSQL database. These identifiers are integers, auto-incrementing, and cannot contain a null value.
- char(N): This data type specifies that information stored in a column can contain strings of up to N characters in length. If a string less than length N is stored, then the remaining string length is filled with space characters.
- varchar(N): This data type specifies that information stored in a column can contain strings of up to N characters in length. If a string less than length N is stored, then the remaining string length isn't used.
- boolean: This is a data type that can only contain two values "true" or "false". In PostgreSQL, boolean values are often displayed in a shorthand format, t or f
- integer or INT: An integer is simply a "whole number." An example might be 1 or 50, -50, or 792197 depending on what storage type is used.
- decimal(precision, scale): The decimal type takes two arguments, one being the total number of digits in the entire number on both sides of the decimal point (the precision), the second is the number of the digits in the fractional part of the number to the right of the decimal point (the scale).
- timestamp: The timestamp type contains both a simple date and time in YYYY-MM-DD HH:MM:SS format.
- date: The date type contains a date but no time.

### Enumerated Types
- To create new enum type: `CREATE TYPE spectral_type_enum AS ENUM ('O', 'B', 'A', 'F', 'G', 'K', 'M');`
- You can now use that like any other data type.

### Casting types
- Two syntax options: `CAST ( expression AS type )` or `expression::type`.
- Example: `CAST (part_number AS text)` or `part_number::text`

## Keys and Constraints
- Keys and Constraints are rules that define what data values are allowed in certain column.
- Constraints can apply to a specific column, an entire table, more than one table, or an entire schema.
- UNIQUE: column can't contain duplicate values.
- NOT NULL: value must be specified.
- DEFAULT: Specifies default value to be used if no value is given during entry creation.
    - `ALTER TABLE employees ALTER COLUMN department SET DEFAULT 'unassigned';`
    
### Keys
- A key uniquely identifies a single row in a database table. There are two types of keys that we'll cover in this course:
  - Natural keys
    - A natural key is an existing value in a dataset that can be used to uniquely identify each row of data in that dataset.
  - Surrogate key
    - A surrogate key is a value that is created solely for the purpose of identifying a row of data in a database table. Because it is created specifically for that purpose, it can avoid many of the problems associated with natural keys.
    - Example: `CREATE TABLE colors (id serial, name text);`
    - The serial columns in PostgreSQL are actually a short-hand for a column definition that is much longer:
    ```
    CREATE SEQUENCE colors_id_seq;
    CREATE TABLE colors (
        id integer NOT NULL DEFAULT nextval('colors_id_seq'),
        name text
    );
    ```
    - A sequence is a special kind of relation that generates a series of numbers. A sequence will remember the last number it generated, so it will generate numbers in a predetermined sequence automatically.
  - A primary key is a value that is used to uniquely identify the rows in a table. It cannot be NULL and must be unique within a table. They are created using PRIMARY KEY.

## Alter table scheme
### Rename table:
```
ALTER TABLE table_name
RENAME TO new_table_name;
```
### Rename column:
```
ALTER TABLE table_name
RENAME COLUMN column_name TO new_column_name;
```
### Adding/Removing a Column
- Adding column syntax: `ALTER TABLE table_name ADD COLUMN column_name column_data_type column_constraints;`
- Removing column syntax: `ALTER TABLE table_name DROP COLUMN column_name;`

### Changing a column's datatype:
```
ALTER TABLE table_name
ALTER COLUMN column_name TYPE varchar(25);
```
### Adding/Removing a constraint
- Add column constraint: `ALTER TABLE table_name ALTER COLUMN column_name SET constraint clause;`
- Add table constraint: `ALTER TABLE table_name ADD CONSTRAINT constraint_name constraint clause;`
- Removing a constraint: `ALTER TABLE table_name DROP CONSTRAINT constraint_name;`
- Example:
```
ALTER TABLE all_users
ALTER COLUMN full_name SET NOT NULL;
```
```
ALTER TABLE birds ADD CONSTRAINT check_age CHECK (age > 0);
```

## Manipulating data
- INSERT statements - These add new data into a database table
- SELECT statements - Also referred to as Queries; these retrieve existing data from database tables. We've worked with this type a bit already.
- UPDATE statements - These update existing data in a database table.
- DELETE statements - These delete existing data from a database table.

### Insert
- Insert syntax: `INSERT INTO table_name (column1_name, column2_name, ...) VALUES (data_for_column1, data_for_column2, ...);`
- When specifying columns, for each column specified you must supply a value for it in the VALUES clause, otherwise you'll get an error back. If you don't specify a column for data insertion, then null or a default value will be added to the record you wish to store instead.
- Example to add multiple rows: `INSERT INTO users (full_name) VALUES ('Jane Smith'), ('Harry Potter');`

### Update
- General syntax: `UPDATE table_name SET [column_name1 = value1, ...] WHERE (expression);`
- To update all rows in a column: `UPDATE users SET enabled = false;`
- Updating specific rows: `UPDATE users SET enabled = true WHERE full_name = 'Harry Potter' OR full_name = 'Jane Smith';`

### Delete 
- The DELETE statement is used to remove entire rows from a database table.
- General syntax: `DELETE FROM table_name WHERE (expression);`
- To deleta all rows: `DELETE FROM table_name;`
- `DELETE` can only delete whole rows, to just delete a value, use `UPDATE` and set value to `NULL`

## Operators
### Comparison 
- <	less than
- \>	greater than
- <= less than or equal to
- \>= greater than or equal to
- =	equal
- <> or !=	not equal
---
- comparison predicates:
  - BETWEEN
  - NOT BETWEEN
  - IS DISTINCT FROM
  - IS NOT DISTINCT FROM
  - IS NULL
  - IS NOT NUL
  
### Logical
- AND
- OR
- NOT

### String matching
- String, or pattern, matching allows you to add flexibility to your conditional expressions in another way, by searching for a sub-set of the data within a column.
- Example: ` SELECT * FROM users WHERE full_name LIKE '%Smith';`
- `%` is wildcard for multiple chars
- `_` is wildcard for a single char
- Instead of `LIKE` you can also use `SIMILAR TO` with a regex.

## Functions
### String functions
- `length`
- `trim`

### Date/Time functions
- `date_part`
- `age`

### Aggregate functions
- `count`
- `sum`
- `min`
- `max`
- `avg`

### Group by
- `GROUP BY` allows us to aggregate data based on the values in a column. 
- Example: `SELECT enabled, count(id) FROM users GROUP BY enabled;`
- Great explanation: https://launchschool.com/posts/1f15e519

#### Having
- The HAVING clause was added to SQL because the WHERE keyword could not be used with aggregate functions.
- Example:
```sql
SELECT Country, COUNT(CustomerID)
FROM Customers
GROUP BY Country
HAVING COUNT(CustomerID) > 5;
```

## Relational Data and JOINs

### Table relationship
-  The process of splitting up data in this way to remove duplication and improve data integrity is known as normalization.
- The reason for normalization is to reduce data redundancy and improve data integrity
- The mechanism for carrying out normalization is arranging data in multiple tables and defining relationships between them.

#### Primary key
- A Primary Key is a unique identifier for a row of data.
- A PRIMARY KEY is essentially equivalent to adding NOT NULL and UNIQUE constraints to that column.
- Each table can have only one Primary Key column.

#### Foreign key
- A Foreign Key allows us to associate a row in one table to a row in another table. 
- A Foreign Key column contains references to the Primary keys of rows in other tables. 
```
CREATE TABLE orders (
  id serial PRIMARY KEY,
  product_id integer REFERENCES products (id),
  quantity integer NOT NULL
);
```
```
ALTER TABLE orders ADD CONSTRAINT orders_product_id_fkey FOREIGN KEY (product_id) REFERENCES products(id);
```

#### Relationship types
- One to One
- One to Many
- Many to Many
  - In order to implement this sort of relationship we need to introduce a third, cross-reference, table. This table holds the relationship between the two entities, by having two FOREIGN KEYs, each of which references the PRIMARY KEY of one of the tables for which we want to create this relationship.

#### Referential Integrity
- "table relationships must always be consistent."
- TODO: read more on this.

### JOINS
-  JOINs are clauses in SQL statements that link two tables together, usually based on the keys that define the relationship between those two tables. 
- Types: INNER, LEFT OUTER, RIGHT OUTER, FULL OUTER and CROSS.
- General syntax: `SELECT [table_name.column_name1, table_name.column_name2,..] FROM table_name1 join_type JOIN table_name2 ON (join_condition);`
  - column names are prepended by table names in the column list.
- Example: `SELECT colors.color, shapes.shape FROM colors JOIN shapes ON colors.id = shapes.color_id;`
    - This creates virtual table containing all rows where `colors.id = shapes.color_id` we then select the `color` and `shape` column from that virtual table. 
    
#### Types of Joins
##### INNER JOIN
- default, used if you don't specify join type. 
- contains the common elements of the tables, i.e the intersection where they match on the joined condition.
```
SELECT users.*, addresses.*
FROM users
INNER JOIN addresses
ON (users.id = addresses.user_id);
```

##### LEFT JOIN (LEFT OUTER JOIN)
- will always include the rows from the LEFT table, even if there are no matching rows in the table it is joined with.
- The resulting table will have as many rows as the LEFT table.
- In most cases you will use a LEFT Join and start with the table that you want to have all rows of included in the resulting table.

##### RIGHT JOIN (RIGHT OUTER JOIN)
- opposite of left join.
- The resulting table will have as many rows as the RIGHT table.

##### FULL JOIN (FULL OUTER JOIN)
- This type of join contains all of the rows from both of the tables. 
- Where the join condition is met, the rows of the two tables are joined.
- For any rows on either side of the join where the join condition is not met, the columns for the other table have NULL values for that row.

##### CROSS JOIN
- returns all rows from one table crossed with every row from the second table. 
- In other words, the join table of a cross join contains every possible combination of rows from the tables that have been joined.
- Since it returns all combinations, a CROSS JOIN does not need to match rows using a join condition, therefore it does not have an ON clause.

#### Multiple joins
```
SELECT users.full_name, books.title, checkouts.checkout_date
FROM users
INNER JOIN checkouts ON (users.id = checkouts.user_id)
INNER JOIN books ON (books.id = checkouts.book_id);
```

#### Table Aliasing
- Aliasing allows us to specify another name for a column or table and then use that name in later parts of a query to allow for more concise syntax.
```
SELECT u.full_name, b.title, c.checkout_date
FROM users AS u
INNER JOIN checkouts AS c ON (u.id = c.user_id)
INNER JOIN books AS b ON (b.id = c.book_id);
```
- We can even use a shorthand for aliasing by leaving out the AS keyword entirely. `FROM users u` and `FROM users AS u` are equivalent SQL clauses.


#### Column aliasing
- use it to display more meaningful information in our result table. 
- Example: `SELECT count(id) AS "Number of Books Checked Out" FROM checkouts;`

### Subqueries
- Conceptually is that you are using the nested query to generate a set of one or more values, you then use those values as part of an outer query (usually as part of a condition).
- Imagine executing a SELECT query, and then using the results of that SELECT query as a condition in another SELECT query. This is called nesting, and the query that is nested is referred to as a subquery.

```sql 
SELECT title FROM books WHERE author_id =
  (SELECT id FROM authors WHERE name = 'William Gibson');
```

- In the above example, we were able to use = in the WHERE condition in this way because the nested query returned a single value. 

#### Subquery Expressions
- Much of the time when using subqueries, the nested query will return more than one value; this is where subquery expressions become useful.
- Subquery expressions are a special set of operators for use specifically with subqueries, most commonly within a conditional subquery.
##### EXISTS
EXISTS effectively checks whether any rows at all are returned by the nested query. If at least one row is returned then the result of EXISTS is 'true', otherwise it is 'false'.
```sql 
SELECT 1 WHERE EXISTS
    (SELECT id FROM books
    WHERE isbn = '9780316005388');
```

##### IN
IN compares an evaluated expression to every row in the subquery result. If a row equal to the evaluated expression is found, then the result of IN is 'true', otherwise it is 'false'.

```sql 
SELECT name FROM authors WHERE id IN
(SELECT author_id FROM books
WHERE title LIKE 'The%');
```
##### NOT IN
NOT IN is similar to IN except that the result of NOT IN is 'true' if an equal row is not found, and 'false' otherwise.

```sql
SELECT name FROM authors WHERE id NOT IN
(SELECT author_id FROM books
WHERE title LIKE 'The%');
```

##### ANY/SOME
ANY and SOME are synonyms, and can be used interchangeably. These expressions are used along with an operator (e.g. =, <, >, etc). The result of ANY / SOME is 'true' if any true result is obtained when the expression to the left of the operator is evaluated using that operator against the results of the nested query.

```sql 
SELECT name FROM authors WHERE length(name) > ANY
(SELECT length(title) FROM books
WHERE title LIKE 'The%');
```

- Note: when the = operator is used with ANY / SOME, this is equivalent to IN.



##### ALL
As with ANY / SOME, ALL is used along with an operator. The result of ALL is true only if all of the results are true when the expression to the left of the operator is evaluated using that operator against the results of the nested query.

```sql 
SELECT name FROM authors WHERE length(name) > ALL
(SELECT length(title) FROM books
WHERE title LIKE 'The%');
```

- Note: when the <> / != operator is used with ALL, this is equivalent to NOT IN.

#### When to use a subquery
- When you're not yet at the optimization stage and performance isn't a factor, the decision over whether to use a subquery over a join will often come down to personal preference. 
- There are however valid arguments to say that subqueries are more readable or make more logical sense in some situations. 
- For example, if you want to return data from one table conditional on data from another table, but don't need to return any data from the second table, then a subquery may make more logical sense and be more readable. If you need to return data from both tables then you would need to use a join.

## How PostgreSQL Executes a Query
While the exact way that a PostgreSQL database server will execute a query will depend on many variables, there is a high-level process that each query goes through.
- https://launchschool.com/lessons/a1779fd2/assignments/f4b7a9dc
- https://www.postgresql.org/docs/9.5/query-path.html

## Modelling databases
### Conceptual model
- High level design focused on identifying entities and their relationships
![](img/conceptual.png)

### Physical model
- low level database specific design focused on implementation

Conceptual model vs Physical model
![](img/conceptual_physical.png)


- On the "many" side of a one-to-many relationship is the foreign key, on the "one" side the primary key.
    - Example: There can be many tickets, each of which has the same event_id as a foreignkey.
- Many-to-many relationships need an additional table to keep track of the relationships.

### Cardinality
- the number of objects on each side of the relationship (1:1, 1:M, M:M)

### Modality
- defines if the relationship is required(1) or optional(0)

### Crow's foot notation
- https://www.vertabelo.com/blog/crow-s-foot-notation/#:~:text=In%20crow's%20foot%20notation%3A,represented%20by%20an%20empty%20circle.
![](img/crow_foot.png)
![](img/crow_foot_example.png)

### Anomalies
####  Update anomaly
An update anomaly is a data inconsistency that results from data redundancy and a partial update.

#### Deletion anomaly
A deletion anomaly is the unintended loss of data due to deletion of other data

#### Insertion anomaly
An insertion anomaly is the inability to add data to the database due to absence of other data

### Normalization
Normalization is the process of designing schema that minimize or eliminate the possible occurrence of these anomalies. The basic procedure of normalization involves extracting data into additional tables and using foreign keys to tie it back to its associated data.

## Extracting a 1:M Relationship From Existing Data
1. Create the new table and populate it. 
2. Add foreign key column to old table referencing the primary key column of the new table. 
3. Insert the correspoding values into the new foreign key column. 
4. Delete the now redundant columns from the old table. 
5. Re-add any constraints that the old table had to the new.

## Indexes
### What are indexes?
- An index is a mechanism that SQL engines use to speed up queries. They do this by storing indexed data in a table-like structure, which can be quickly searched using particular search algorithms.
- The results of the search provide a link back to the record(s) to which the indexed data belongs.
- Using an index means that the database engine can locate column values more efficiently since it doesn't have to search through every record in a table in sequence.
### When to use an index?
- When you build an index of a field, reads become faster, but every time a row is updated or inserted, the index must be updated as well. 
- Now you're updating not only the table but also the index, so that's a performance cost.
1. Indexes are best used in cases where sequential reading is inadequate. For example: columns that aid in mapping relationships (such as Foreign Key columns), or columns that are frequently used as part of an ORDER BY clause, are good candidates for indexing.
2. They are best used in tables and/ or columns where the data will be read much more frequently than it is created or updated.
### Creating an index
-  When you define a PRIMARY KEY constraint, or a UNIQUE constraint, on a column you automatically create an index on that column. In fact, the index is the mechanism by which these constraints enforce uniqueness.
- FOREIGN KEY constraints do not automatically create an index on a column. Foreign Key columns are good candidates for indexing, however you would need to explicitly create the index on the column.
- General syntax: `CREATE INDEX index_name ON table_name (field_name);`
    - If index_name is omitted, PostgreSQL automatically generates a unique name for the index. 
- Multicolumn index syntax: `CREATE INDEX index_name ON table_name (field_name_1, field_name_2);`

### Deleting Indexes
- General syntax: `DROP INDEX index_name;`

## How a query is run
- SQL being a predominantly declarative language, in that it describes what needs to be done but not the detail of how to do it. The details of how a query is actually run are abstracted away by the database engine, however it is possible to influence this process by the way you structure your SQL statement.
### Assessing a Query with EXPLAIN
- In order to execute each query that it receives, PostgreSQL devises an appropriate query plan. The creation of this query plan is one step in the path of executing a query. What EXPLAIN does is allow you to access and read that query plan.
- To use `EXPLAIN` you prepend the query with the EXPLAIN keyword.

```sql
EXPLAIN SELECT * FROM books;
                     QUERY PLAN
----------------------------------------------------------
 Seq Scan on books  (cost=0.00..12.60 rows=260 width=282)
(1 row)

```

- The structure of the query plan is a node-tree. The more 'elements' that there are to your query, the more nodes there will be in the tree.
- Each node consists of the node type (in this case a sequential scan on the books table) along with estimated cost for that node (start-up cost, followed by total cost), the estimated number of rows to be output by the node, and the estimated average width of the rows in bytes.
- However many nodes the query plan has, one of the key pieces of information to look out for in order to compare queries is the estimated 'total cost' value of the top-most node. In the above example that is 12.60.

### Assessing a query with EXPLAIN ANALYZE
- When you use EXPLAIN, the query is not actually run. 
- The values that EXPLAIN outputs are estimates, based on the planner's knowledge of the schema and assumptions based on PostgreSQL system statistics. 
- In order to assess a query using actual data, you can add the ANALYZE option to an EXPLAIN command.
- Using the ANALYZE option actually runs the query and, in addition to the output normally returned by EXPLAIN, includes the actual time (in milliseconds) required to run the query and its constituent parts, as well as the actual rows returned by each plan node rather than just a number of rows based on defaults statistics.